# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file.

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [33]:
# Import pandas using the standard alias
import pandas as pd

In [34]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   0                   57 non-null     int64
 1   Average Statistics  56 non-null     object
 2   Unnamed: 2          57 non-null     object
 3   Unnamed: 3          11 non-null     object
 4   Unnamed: 4          11 non-null     object
 5   Unnamed: 5          11 non-null     object
 6   Unnamed: 6          11 non-null     object
 7   Unnamed: 7          11 non-null     object
 8   Unnamed: 8          11 non-null     object
 9   Unnamed: 9          11 non-null     object
 10  Unnamed: 10         11 non-null     object
 11  Unnamed: 11         11 non-null     object
 12  Unnamed: 12         11 non-null     object
 13  Unnamed: 13         11 non-null     object
 14  Unnamed: 14         11 non-null     object
 15  Unnamed: 15         11 non-null     object
 16  Unnamed: 16         11 non-null     object
 17  Unnamed: 17         11 non-null     object
 18  Unnamed: 18         11 non-null     object
 19  Unnamed: 19         11 non-null     object
 20  Unnamed: 20         11 non-null     object
 21  Unnamed: 21         11 non-null     object
 22  Unnamed: 22         11 non-null     object
 23  Unnamed: 23         11 non-null     object
 24  Unnamed: 24         11 non-null     object
 25  Unnamed: 25         11 non-null     object
 26  Unnamed: 26         11 non-null     object
 27  Unnamed: 27         11 non-null     object
 28  Unnamed: 28         11 non-null     object
 29  Unnamed: 29         11 non-null     object
 30  Unnamed: 30         11 non-null     object
 31  Unnamed: 31         11 non-null     object
 32  Unnamed: 32         11 non-null     object
 33  Unnamed: 33         11 non-null     object
 34  Unnamed: 34         11 non-null     object
 35  Unnamed: 35         11 non-null     object
 36  Unnamed: 36         11 non-null     object
 37  Unnamed: 37         11 non-null     object
 38  Unnamed: 38         11 non-null     object
 39  Unnamed: 39         11 non-null     object
 40  Unnamed: 40         11 non-null     object
 41  Unnamed: 41         11 non-null     object
 42  Unnamed: 42         11 non-null     object
 43  Unnamed: 43         11 non-null     object
 44  Unnamed: 44         11 non-null     object
 45  Unnamed: 45         11 non-null     object
 46  Unnamed: 46         11 non-null     object
dtypes: int64(1), object(46)
memory usage: 10.8+ KB

In [35]:
# Print the last 5 rows of df
print(df.tail())

     0 Average Statistics Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
52  53              10006          6          2       0.33          4
53  54              10007          1          0          0          1
54  55              10009          2          0          0          2
55  56              10010          0          0          0          0
56  57              10011          3          2       0.67          1

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 37 Unnamed: 38  \
52       0.67          0          0          6  ...           6         100
53          1          0          0          1  ...           1         100
54          1          0          0          2  ...           2         100
55          0          0          0          0  ...           0           0
56       0.33          0          0          3  ...           3         100

   Unnamed: 39 Unnamed: 40 Unnamed: 41 Unnamed: 42 Unnamed: 43 Unnamed: 44  \
52           0           0           6           1           0           0
53           1           1           0           0           0           0
54           0           0           2           1           0           0
55           0           0           0           0           0           0
56           0           0           3           1           0           0

   Unnamed: 45 Unnamed: 46
52           6         100
53           1         100
54           2         100
55           0           0
56           3         100

[5 rows x 47 columns]

In [ ]:
# What is going on with this data set? Anything unusual?

#Too many missing values or NaN data types.

In [37]:
# Clean up the dataset
df.isnull().sum()
df = df.dropna()
df

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
46,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
47,48,10001,44,22,0.5,22,0.5,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
48,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
49,50,10003,1,1,1,0,0,0,0,1,...,1,100,0,0,1,1,0,0,1,100
50,51,10004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,52,10005,2,2,1,0,0,0,0,2,...,2,100,0,0,2,1,0,0,2,100
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_Corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [38]:
# Hint: Here's a useful programming pattern to use
try:

    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
    
                     
except Exception as e:
    print(df)

     0 Average Statistics          Unnamed: 2    Unnamed: 3      Unnamed: 4  \
46  47  JURISDICTION NAME  COUNT PARTICIPANTS  COUNT FEMALE  PERCENT FEMALE
47  48              10001                  44            22             0.5
48  49              10002                  35            19            0.54
49  50              10003                   1             1               1
50  51              10004                   0             0               0
51  52              10005                   2             2               1
52  53              10006                   6             2            0.33
53  54              10007                   1             0               0
54  55              10009                   2             0               0
55  56              10010                   0             0               0
56  57              10011                   3             2            0.67

    Unnamed: 5    Unnamed: 6            Unnamed: 7              Unnamed: 8  \
46  COUNT MALE  PERCENT MALE  COUNT GENDER UNKNOWN  PERCENT GENDER UNKNOWN
47          22           0.5                     0                       0
48          16          0.46                     0                       0
49           0             0                     0                       0
50           0             0                     0                       0
51           0             0                     0                       0
52           4          0.67                     0                       0
53           1             1                     0                       0
54           2             1                     0                       0
55           0             0                     0                       0
56           1          0.33                     0                       0

            Unnamed: 9  ...                 Unnamed: 37  \
46  COUNT GENDER TOTAL  ...  COUNT CITIZEN STATUS TOTAL
47                  44  ...                          44
48                  35  ...                          35
49                   1  ...                           1
50                   0  ...                           0
51                   2  ...                           2
52                   6  ...                           6
53                   1  ...                           1
54                   2  ...                           2
55                   0  ...                           0
56                   3  ...                           3

                     Unnamed: 38                       Unnamed: 39  \
46  PERCENT CITIZEN STATUS TOTAL  COUNT RECEIVES PUBLIC ASSISTANCE
47                           100                                20
48                           100                                 2
49                           100                                 0
50                             0                                 0
51                           100                                 0
52                           100                                 0
53                           100                                 1
54                           100                                 0
55                             0                                 0
56                           100                                 0

                           Unnamed: 40                        Unnamed: 41  \
46  PERCENT RECEIVES PUBLIC ASSISTANCE  COUNT NRECEIVES PUBLIC ASSISTANCE
47                                0.45                                 24
48                                0.06                                 33
49                                   0                                  1
50                                   0                                  0
51                                   0                                  2
52                                   0                                  6
53                                   1                                  0
54                                   0                                  2
55                                   0                                  0
56                                   0                                  3

                            Unnamed: 42                      Unnamed: 43  \
46  PERCENT NRECEIVES PUBLIC ASSISTANCE  COUNT PUBLIC ASSISTANCE UNKNOWN
47                                 0.55                                0
48                                 0.94                                0
49                                    1                                0
50                                    0                                0
51                                    1                                0
52                                    1                                0
53                                    0                                0
54                                    1                                0
55                                    0                                0
56                                    1                                0

                          Unnamed: 44                    Unnamed: 45  \
46  PERCENT PUBLIC ASSISTANCE UNKNOWN  COUNT PUBLIC ASSISTANCE TOTAL
47                                  0                             44
48                                  0                             35
49                                  0                              1
50                                  0                              0
51                                  0                              2
52                                  0                              6
53                                  0                              1
54                                  0                              2
55                                  0                              0
56                                  0                              3

                        Unnamed: 46
46  PERCENT PUBLIC ASSISTANCE TOTAL
47                              100
48                              100
49                              100
50                                0
51                              100
52                              100
53                              100
54                              100
55                                0
56                              100

[11 rows x 47 columns]

## Summary

Congratulations, you now practiced your Pandas-importing skills.